body {
  font-family: Helvetica, sans-serif;
  background: #A65C35;
}

/* Header */
header {
  width: 70%;
  margin: auto;
  padding-top: 10px;
  background: #F5C49A;
  border-radius: 30px;
}
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.home { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.home ul {
    list-style-type: none;
}
.home li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}
